/_CommonRedist/**
/bin/**
/content/core/**
/content/dota/**
/dota/**
/dota_ugc/**
/game/_toolsettings/**
/game/bin/**
/game/core/**
/game/dota/**
/game/platform/**
/game/dota_schinese/**
/game/dota_koreana/**
/game/dota_lv/**
/platform/**

dota.exe
/game/dota_addons/*.cfg
**/thirdpartylegalnotices.txt
/steam_appid.txt
*_accessviolation.mdmp

/*/_toolsautosave/**
/*/dota_addons/addon_template/**
/*/dota_addons/adventure_example/**
/*/dota_addons/hero_demo/**
/*/dota_addons/holdout_example/**
/*/dota_addons/lua_ability_example/**
/*/dota_addons/overthrow/**
/*/dota_addons/rpg_example/**
/*/dota_addons/tutorial_assist_game/**
/*/dota_addons/tutorial_basics/**
/*/dota_addons/ui_example/**

